.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
examples/example.exe
examples/example
libpccs.a
libpccs.so
libpccs.so.1
libpccs.so.1.0
tests/pccs_test
tests/pccs_test.exe
data/
build/
to_compress/
lib/
tools/table-generator/table-generator.exe
tools/table-generator/table-generator
tools/bin2s/bin2s
examples/convertPKs/inBox
examples/convertPKs/outBox
